.container{
    width: 90%;
    margin: 5% auto auto auto;
}
.text{
    position: absolute;
    display: inline-block;
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 1% 7% 1% 7%;
    margin: -2.7% 0 0 -7%;
    background-color: #00bf63;
    border-radius: 50px;
    border: 3px solid #1b8b53
}
.container2{
    
    border: 3px solid #1b8b53;
    border-radius: 20px;
    padding: 4.5% 3% 3% 3%;
    background-color: #aff0c4;
}

.grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.details{
    color: #047e43;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 500;
    
}
.fields{
    color: #047e43;
    width: 90%;
    background-color: transparent;
    border: none;
    font-size: 34px;
    font-weight: 600;
    border: none; 
    border-bottom: 1px solid transparent; 
    outline: none; /* Remove default focus outline */
    transition: border-color 0.3s ease;
    
}
.span10{
    grid-column: span 10;
}
.span8{
    grid-column: span 8;
}
.span2{
    grid-column: span 2;
}
.span4{
    grid-column: span 4;
}


.fields:focus{
    border-bottom: 1px solid hsl(120, 100%, 19%);
}
.line{
    margin-bottom: 1%;
    grid-column: span 12;
    
}
.pad{
    margin-bottom: 3%;
}
.space{
    margin: 1%;
}
button {
    position: absolute;
    display: inline-block;
    background-color: #2dba60;
    border-radius: 35px;
    border: 2px solid darkgreen;
    padding: 0.5% 2.5% 0.5% 2.5%;
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition */
}
.where{
    margin-left: 4%;
}
.where2{
    margin-left: 80.2%;
}

button p{
    font-size: 30px;
    font-weight: 800;
    color: #087c44;
    padding: 0;
    margin: 0;
}

button:hover {
   transform: scale(1.05);
   background-color: #ffffff;
  }
