
.registercard{
    
    background-color: rgb(181, 255, 181);
    width: 70%;
    margin: 2% auto auto auto;
    border: 2px solid rgb(0, 151, 0);
    border-radius: 20px;
    padding: 0% 3% 3% 3%;
}

.regtxt{
    color: green;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    grid-column: span 12;
}

input[type="text"]:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

.txtfields{
    color: #d4ba4e;
    font-weight: 900;
    font-size: 30px;
    grid-column: span 2;
}
.txtfields2{
    color: #d4ba4e;
    font-weight: 900;
    font-size: 30px;
    grid-column: span 2;
    margin-top: 30%;
}
.container{
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    
}
.names{
    color: hsl(120, 100%, 25%);
    grid-column: span 4;
    text-align: center;
    margin-right: 9%;
    margin-top: 1.5%;
}

form{
    grid-column: span 13
}

.fields{
    color: #047e43;
    background-color: transparent;
    border: none;
    font-size: 23px;
    border: none; 
    border-bottom: 1px solid hsl(120, 100%, 19%); 
    outline: none; 
    font-weight: 600;

}
.spanfields{
    width: 90%;
    grid-column: span 4;
}
.fields2{
    margin-top: 7%;
    grid-column: span 9;
}
.margin{
    margin-top: 11%;
}

.fields3{
    grid-column: span 6;
}
.fields4{
    margin-left: 2%;
    grid-column: span 7;
}
.empty{
    grid-column: span 3;
}
.empty2{
    grid-column: span 1;
}
